<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="/var/www/testing/data/www/testing.bx24.org/local/php_interface/bootstrap.php">
    <testsuites>
        <testsuite name="UrlNormalizer">
            <file>UrlNormalizerTest.php</file>
        </testsuite>
        <testsuite name="UrlParserTest">
            <file>UrlParserTest.php</file>
        </testsuite>
        <testsuite name="UrlRepositoryTest">
            <file>UrlRepositoryTest.php</file>
        </testsuite>
    </testsuites>
    <php>
      <server name="SERVER_NAME" value="irkutsk.test.ru"/>
    </php>
</phpunit>
